@bgColor: #373536;
.ki {
  font-size: 14px;
  .small {
    font-size: 12px;
    color: var(--secondary);
  }
  .seemore {
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #ffc000;
    }
  }
}
