@primaryFontColor: #ffffff;
@font-face {
  font-family: Karla;
  src: url('/Karla.ttf');
}
body {
  background: #0e1118;
  overflow-x: hidden;
  color: @primaryFontColor;
  font-family: 'Karla', sans-serif;
}
* {
  box-sizing: border-box;
  ::selection {
    color: #0e1118;
  }
}
:root {
  --primary: #fff;
  --secondary: #64676d;
  --line: #22252e;
  --neutralAlt: #1b1d23;
  --neutral: #0e1118;
  --overlay: #0e1118;
  --brandAlt: #0da098;
  --brand: #ff5c28;
  color-scheme: dark;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: @primaryFontColor;
}

// tabs
.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  border: 0;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  border-top: 2px solid transparent;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  border-top: 2px solid #cbff00;
}
// tabs

// table
tr.ant-table-expanded-row > td {
  padding: 0;
  background-color: transparent;
}
tr.ant-table-expanded-row:hover > td {
  background-color: unset;
}
.ant-table-tbody > tr > td > .ant-table-wrapper:only-child .ant-table {
  margin: 0;
}
.ant-table-column-sorters {
  justify-content: left;
}
.ant-table-column-title {
  flex: unset;
}
.ant-table-thead > tr > th {
  padding: 10px 16px;
}
.ant-table-row-expand-icon {
  opacity: 0;
}
.ant-table-tbody > tr > td.ant-table-cell-row-hover .ant-table-row-expand-icon {
  opacity: 1;
}
// table
.ant-menu-item-active {
  .ant-menu-title-content {
    color: #cbff00;
  }
}
.ant-menu-item-selected {
  color: #cbff00 !important;
  font-weight: bold;
}
.ant-slider-dot {
  position: absolute;
  top: -2px;
  width: 8px;
  height: 8px;
  background-color: #0e1118;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
.timeSelector {
  // border-top: 0.75px solid #333333;
  // border-bottom: 0.75px solid #333333;
  height: 22px;
  align-items: center;
  // position: relative;
  font-size: 11px;
  // transform: trans lateY(-50%);
  // padding-left: 0rem;
  // padding-right: 0rem;
  // border: 0.75px solid #333333;
  // height: 5rem;
}
.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
  border-right-color: #333333;
}
.flex {
  display: flex;
}
.flex-between {
  justify-content: space-between;
}
.flex-align-center {
  align-items: center;
}
